[package]
name = "book"
version = "0.1.0"
edition = "2021"

[dependencies]
tokio = { version = "1", features = ["full"] }
roslibrust = { path = "../roslibrust", features = ["mock", "codegen"] }

# Exclude us from above workspace
[workspace]